# Node.js and dependenciesnode_modulesnpm-debug.log*yarn-debug.log*yarn-error.log*.pnpm-debug.log*# Build outputs.nextoutbuilddist# Version control.git.github.gitignore# Environment and config.env.env.local.env.development.env.production.env.test.env.staging*.env!.env.example# Development tools and configs.vscode.idea*.sublime-project*.sublime-workspace.DS_Store*.pem.eslintcache# Testscoverage__tests__*.test.js*.spec.js# Documentation and other assets not needed in Docker imageREADME.mdLICENSE*.mddocs# Cache.cache.npm.yarn# TypeScript*.tsbuildinfonext-env.d.ts# Other common files to ignore.editorconfig.prettierrc.dockerignoredocker-compose.yamldocker-compose.yml 