services:
  nextjs:
    build: .
    ports:
      - "8081:8081"
    command: ["sh", "-c", "npm run build && npm run start"]
    environment:
      - NODE_ENV=production
      - PORT=8081
      - MONGODB_URI=mongodb+srv://iconic:iconic1234@cluster0.epa5l7v.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - NEXT_PUBLIC_API_BASE_URL=http://localhost:8081/api
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin123
      - JWT_SECRET=5f1d3b5d133f42f17e7092f6abd5a5404b5bc0f51dd1da4f8dd575f9b4fdd38f
    volumes:      
      - .:/app
      - /app/node_modules
      - /app/.next